body{
    margin: 0;
    display: grid;
    grid-template-areas: 'section section section section'
                         'nav nav nav nav'
                         'header header header header'
                         'aside aside aside aside'
                         'footer footer footer footer';
    grid-template-rows: 15vh 10vh 20vh 40vh 10vh;
}

section{
    grid-area: section;
    background-image: url(banner.jpg);
    color: silver;
    font-size: 50px;
    font-family: 'Mountains of Christmas', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    grid-area: nav;
    background-image: url(banner.jpg);
    color: white
    font-family:'Mountains of Christmas', cursive;
    font-size:15pt;
    font-weight:800;

}

header{
    grid-area: header;
    background-color: white;
}

aside{
    grid-area: aside;
    background-image: url(foto.jpg);
    background-position: center;
    background-size: cover;

}

footer{
    grid-area: footer;
    background-image: url(banner.jpg);
}

@media(min-width:728px){
    body{
        grid-template-areas: 'section section section section' 
                             'nav nav nav aside'
                             'header aside aside aside'
                             'header aside aside aside'
                             'footer footer footer aside';
    }

}

@media(min-width:1024px){
    body{
        grid-template-areas: 'section section section section'
                         'nav nav nav nav'
                         'header aside aside aside'
                         'header aside aside aside'
                         'footer footer footer footer';

}

nav #mobile a{
    text-decoration: none;
    color: white
    font-family: 'Mountains of Christmas', cursive;
    font-size: 20pt;
    font-weight: 800
}